# Exploratory Data Analysis

In [ ]:
import data
import pandas as pd
import numpy as np

In [3]:
# Specify database path
db = '../../data/database.sqlite'

### Filtering out unnecessary attributes and observations

I began EDA by loading the required tables from the database specified above.

In [4]:
# Load data tables
country = data.read('country', db)
league = data.read('league', db)
match = data.read('match', db)
team = data.read('team', db)
team_attributes = data.read('team_attributes', db)

country: loaded
league: loaded
match: loaded
player: loaded
player_attributes: loaded
team: loaded
team_attributes: loaded

The predictive model will be fitted on just the English Premier League (EPL) match data. Note that `league_id` for EPL  is 1729. This variable can be changed to fit predictive models for other leagues. The code below filters out matches that were not played in EPL and attributes that are not required for the model.

In [25]:
# Initiate variable for EPL league ID 
league_id = 1729

# Create a column to specify which team won the match; this will server as the response variable in the model
epl_matchs = match[(match['league_id'] == league_id)]
epl_matchs['result'] = np.where(epl_matchs['home_team_goal'] > epl_matchs['away_team_goal'], 'home' , 
                      np.where(epl_matchs['home_team_goal'] == epl_matchs['away_team_goal'], 'draw' , 'away'))

# Leave out unnecessary attributes
epl_matchs = epl_matchs[['match_api_id', 'league_id', 'season', 'date', 'home_team_api_id', 'away_team_api_id', 
           'home_team_goal', 'away_team_goal', 'result']].reset_index(drop = True)

epl_matchs.head()

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,match_api_id,league_id,season,date,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,result
0,489042,1729,2008/2009,2008-08-17 00:00:00,10260,10261,1,1,draw
1,489043,1729,2008/2009,2008-08-16 00:00:00,9825,8659,1,0,home
2,489044,1729,2008/2009,2008-08-16 00:00:00,8472,8650,0,1,away
3,489045,1729,2008/2009,2008-08-16 00:00:00,8654,8528,2,1,home
4,489046,1729,2008/2009,2008-08-17 00:00:00,10252,8456,4,2,home

Next, team attribute table was filtered to just include EPL teams

In [51]:
# Create an mapping of EPL teams 
epl_mapping = pd.DataFrame(pd.concat([epl['home_team_api_id'], epl['away_team_api_id']], ignore_index = True).unique())
epl_mapping.columns = ['team_api_id']

# Filter out data to only include EPL teams
epl_teams = team_attributes.merge(epl_mapping, on = 'team_api_id', how = 'inner')

# Add team name and drop other  unnecessary fields
epl_teams = epl_teams.merge(team[['team_api_id', 'team_long_name']], on = 'team_api_id', how = 'left') \
                     .drop(['id', 'team_fifa_api_id'], axis = 1)

epl_teams.head()

,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,...,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass,team_long_name
0,9825,2010-02-22 00:00:00,66,Balanced,NaN,Little,30,Short,Free Form,30,...,Normal,Free Form,30,Deep,40,Press,50,Normal,Cover,Arsenal
1,9825,2011-02-22 00:00:00,75,Fast,NaN,Little,40,Mixed,Free Form,40,...,Normal,Free Form,50,Medium,40,Press,45,Normal,Cover,Arsenal
2,9825,2012-02-22 00:00:00,25,Slow,NaN,Little,32,Short,Organised,41,...,Little,Free Form,57,Medium,57,Press,52,Normal,Cover,Arsenal
3,9825,2013-09-20 00:00:00,30,Slow,NaN,Little,29,Short,Organised,41,...,Normal,Free Form,64,Medium,54,Press,52,Normal,Cover,Arsenal
4,9825,2014-09-19 00:00:00,59,Balanced,51.0,Normal,26,Short,Organised,28,...,Normal,Free Form,51,Medium,44,Press,52,Normal,Cover,Arsenal